.Accommodation {
  display: grid;
  grid-template-columns: repeat(2, get-vw($desktop-context, 582px));
  grid-template-rows: repeat(3, auto);
  column-gap: 76px;
}

.Accommodation .Slideshow {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  margin-top: get-vw($desktop-context, 20px);
  height: get-vw($desktop-context, 415px);
}

.Accommodation .Slideshow img {
  border-radius: 25px;
  width: 100%;
  height: 100%;
}

.Accommodation .information {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  justify-content: space-between;
  margin-top: get-vw($desktop-context, 30px);
  width: 100%
}

.Accommodation .information .title {
  grid-column: 1 / 2;
  font-size: get-vw($desktop-context, 36px);
  font-weight: 500;
}

.Accommodation .information .location {
  grid-column: 1 / 2;
  font-size: get-vw($desktop-context, 18px);
}

.Accommodation .information .tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: get-vw($desktop-context, 6px);
  grid-column: 1 / 2;
  margin-top: get-vw($desktop-context, 20px);
  font-size: get-vw($desktop-context, 14px);
}

.Accommodation .information .tag {
  margin-right: get-vw($desktop-context, 10px);
  border-radius: 10px;
  padding: get-vw($desktop-context, 3px) get-vw($desktop-context, 40px);
  background-color: #ff6060;
  color: #fff;
}

.Accommodation .information .host {
  display: flex;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  justify-content: flex-end;
  align-items: center;
}

.Accommodation .information .hostname {
  margin-right: get-vw($desktop-context, 10px);
  font-size: get-vw($desktop-context, 18px);
  font-weight: 500;
  text-align: right;
}

.Accommodation .information .host .profile {
  border-radius: 50%;
  width: get-vw($desktop-context, 64px);
  height: get-vw($desktop-context, 64px);
  background-color: #c4c4c4;
}

.Accommodation .information .host .profile img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.Accommodation .information .rating {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  margin-top: get-vw($desktop-context, 24px);
}

.Accommodation .information .rating i {
  margin-left: get-vw($desktop-context, 10px);
}

.Accommodation .icon-star {
  width: get-vw($desktop-context, 30px);
  height: get-vw($desktop-context, 30px);
  mask-size: get-vw($desktop-context, 30px);
  -webkit-mask-size: get-vw($desktop-context, 30px);
}

.Accommodation .Dropdown {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-row: 3 / 4;
  margin-top: get-vw($desktop-context, 24px);
  margin-bottom: get-vw($desktop-context, 28px);
}

.Accommodation .Dropdown .title {
  border-radius: 10px;
  padding: get-vw($desktop-context, 13px) get-vw($desktop-context, 20px);
}

.Accommodation .Dropdown .title h2 {
  font-size: get-vw($desktop-context, 18px);
}

.Accommodation .icon-arrow-dropdown {
  width: get-vw($desktop-context, 26.4px);
  height: get-vw($desktop-context, 15.56px);
  mask-size: get-vw($desktop-context, 26.4px);
  -webkit-mask-size: get-vw($desktop-context, 26.4px);
}

.Accommodation .Dropdown .content {
  border-radius: 10px;
  padding: get-vw($desktop-context, 40px) get-vw($desktop-context, 12px) get-vw($desktop-context, 53px) get-vw($desktop-context, 20px);
  font-size: get-vw($desktop-context, 18px);
}

.Accommodation .Dropdown .content ul {
  list-style: none;
}

@media screen and (max-width: 768px) {
  .Accommodation {
    display: flex;
    flex-direction: column;
  }

  .Accommodation .Slideshow {
    margin-top: get-vw($mobile-context, 27px);
    width: 100%;
    height: get-vw($mobile-context, 255px);
  }

  .Accommodation .Slideshow img {
    border-radius: 10px;
  }

  .Accommodation .information {
    grid-template-rows: repeat(4, auto);
    gap: 0;
    margin-top: get-vw($mobile-context, 15px);
  }

  .Accommodation .information .title {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    font-size: get-vw($mobile-context, 18px);
  }
  
  .Accommodation .information .location {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    font-size: get-vw($mobile-context, 14px);
  }
  
  .Accommodation .information .tags {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    row-gap: get-vw($mobile-context, 6px);
    margin-top: get-vw($mobile-context, 10px);
    font-size: get-vw($mobile-context, 10px);
  }
  
  .Accommodation .information .tag {
    margin-right: get-vw($mobile-context, 10px);
    border-radius: 5px;
    padding: get-vw($mobile-context, 2px) get-vw($mobile-context, 30px);
  }

  .Accommodation .information .host {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    margin-top: get-vw($mobile-context, 16px);
  }
  
  .Accommodation .information .hostname {
    margin-right: get-vw($mobile-context, 10.5px);
    font-size: get-vw($mobile-context, 12px);
  }
  
  .Accommodation .information .host .profile {
    border-radius: 50%;
    width: get-vw($mobile-context, 32px);
    height: get-vw($mobile-context, 32px);
  }
  
  .Accommodation .information .rating {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    margin-top: get-vw($mobile-context, 25.5px);
  }
  
  .Accommodation .information .rating i {
    margin-left: get-vw($mobile-context, 5px);
  }

  .Accommodation .icon-star {
    width: get-vw($mobile-context, 15px);
    height: get-vw($mobile-context, 15px);
    mask-size: get-vw($mobile-context, 15px);
    -webkit-mask-size: get-vw($mobile-context, 15px);
  }

  .Accommodation .Dropdown {
    margin-top: get-vw($mobile-context, 16px);
    margin-bottom: get-vw($mobile-context, 20.07px);
  }
  
  .Accommodation .Dropdown:last-child {
    margin-top: 0;
    margin-bottom: get-vw($mobile-context, 64.5px);
  }

  .Accommodation .Dropdown .title {
    border-radius: 5px;
    padding: get-vw($mobile-context, 5.45px) get-vw($mobile-context, 10.24px) get-vw($mobile-context, 5.45px) get-vw($mobile-context, 11.51px);
  }
  
  .Accommodation .Dropdown .title h2 {
    font-size: get-vw($mobile-context, 13px);
  }
  
  .Accommodation .icon-arrow-dropdown {
    width: get-vw($mobile-context, 15.2px);
    height: get-vw($mobile-context, 8.96px);
    mask-size: get-vw($mobile-context, 15.2px);
    -webkit-mask-size: get-vw($mobile-context, 15.2px);
  }
  
  .Accommodation .Dropdown .content {
    border-radius: 5px;
    padding: get-vw($mobile-context, 27.27px) get-vw($mobile-context, 6.91px) get-vw($mobile-context, 5px) get-vw($mobile-context, 11.51px);
  }
  
  .Accommodation .Dropdown .content ul {
    font-size: get-vw($mobile-context, 12px);
  }
}