#About .banner {
  background: url("../assets/images/background_about.jpg") center no-repeat;
  background-size: 100% auto;
  mix-blend-mode: darken;
}

#About .Collapse {
  margin-top: 2.15vw;
  padding: 0 7.5vw;
}

#About .Collapse:last-child {
  margin-bottom: 13.96vw;
}

#About .Collapse .title {
  border-radius: 5px;
  padding: .46vw 1.25vw;
}

#About .Collapse .title h2 {
  font-size: 1.67vw;
}

#About .icon-arrow-collapse {
  width: 1.66vw;
  height: .98vw;
  mask-size: 1.66vw;
  -webkit-mask-size: 1.66vw;
}

#About .Collapse .content {
  border-radius: 5px;
  padding: 1.88vw 1.88vw 1.32vw 1.25vw;
}

#About .Collapse .content p {
  width: 67.92vw;
  font-size: 1.67vw;
  font-weight: 400;
}

@media screen and (max-width: 376px) {
  #About .banner {
    margin-top: 17px;
    background-size: cover;
  }

  #About .Collapse {
    margin-top: 19px;
    padding: 0;
  }

  #About .Collapse .title {
    padding: 5.5px 11.51px;
  }

  #About .Collapse .title h2 {
    font-size: 13px;
  }

  #About .icon-arrow-collapse {
    width: 15.2px;
    height: 8.98px;
    mask-size: 15.2px;
    -webkit-mask-size: 15.2px;
  }

  #About .Collapse .content {
    padding: 27.31px 6.91px 52.28px 11.51px;
  }

  #About .Collapse .content p {
    width: 316.58px;
    font-size: 12px;
  }
}