#About .banner {
  margin-top: 44px;
  background: url("../assets/images/background_about.jpg") center no-repeat;
  mix-blend-mode: darken;
}

#About .Collapse {
  margin-top: 31px;
  padding: 0 108px;
}

#About .Collapse:last-child {
  margin-bottom: 201px;
}

#About .Collapse .title {
  border-radius: 5px;
  padding: 6.5px 18px;
}

#About .Collapse .title h2 {
  font-size: 24px;
}

#About .icon-arrow-collapse {
  width: 23.86px;
  height: 14.06px;
  mask-size: 23.86px;
  -webkit-mask-size: 23.86px;
}

#About .Collapse .content {
  border-radius: 5px;
  padding: 27px 27px 19px 18px;
}

#About .Collapse .content p {
  width: 978px;
  font-size: 24px;
  font-weight: 400;
}

@media screen and (max-width: 376px) {
  #About .banner {
    margin-top: 17px;
    background-size: cover;
  }

  #About .Collapse {
    margin-top: 19px;
    padding: 0;
  }

  #About .Collapse .title {
    padding: 5.5px 11.51px;
  }

  #About .Collapse .title h2 {
    font-size: 13px;
  }

  #About .icon-arrow-collapse {
    width: 15.2px;
    height: 8.98px;
    mask-size: 15.2px;
    -webkit-mask-size: 15.2px;
  }

  #About .Collapse .content {
    padding: 27.31px 6.91px 52.28px 11.51px;
  }

  #About .Collapse .content p {
    width: 316.58px;
    font-size: 12px;
  }
}