#Accommodation {
  display: grid;
  grid-template-columns: repeat(2, 40.42vw);
  grid-template-rows: repeat(3, auto);
  column-gap: 5.28vw;
  margin-top: 1.39vw;
}

#Accommodation .Slideshow {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  height: 28.82vw;
}

#Accommodation .Slideshow img {
  border-radius: 25px;
  width: 100%;
  height: 100%;
}

#Accommodation .information {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  justify-content: space-between;
  margin-top: 2.08vw;
  width: 100%
}

#Accommodation .information .title {
  grid-column: 1 / 2;
  font-size: 2.5vw;
  font-weight: 500;
}

#Accommodation .information .location {
  grid-column: 1 / 2;
  font-size: 1.25vw;
}

#Accommodation .information .tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  grid-column: 1 / 2;
  margin-top: 1.39vw;
  font-size: .97vw;
}

#Accommodation .information .tag {
  margin-right: .69vw;
  margin-bottom: .69vw;
  border-radius: 10px;
  padding: .21vw 2.08vw;
  background-color: #ff6060;
  color: #fff;
}

#Accommodation .information .host {
  display: flex;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  justify-content: flex-end;
  align-items: center;
}

#Accommodation .information .hostname {
  margin-right: .69vw;
  font-size: 1.25vw;
  font-weight: 500;
  text-align: right;
}

#Accommodation .information .host .profile {
  border-radius: 50%;
  width: 4.44vw;
  height: 4.44vw;
  background-color: #c4c4c4;
}

#Accommodation .information .host .profile img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

#Accommodation .information .rating {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  margin-top: 1.39vw;
}

#Accommodation .information .rating i {
  margin-left: .69vw;
}

#Accommodation .icon-star {
  width: 2.08vw;
  height: 2.08vw;
  mask-size: 2.08vw;
  -webkit-mask-size: 2.08vw;
}

#Accommodation .Collapse {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-row: 3 / 4;
  margin-top: .97vw;
  margin-bottom: 3.47vw;
}

#Accommodation .Collapse .title {
  border-radius: 10px;
  padding: .9vw 1.39vw;
}

#Accommodation .Collapse .title h2 {
  font-size: 1.25vw;
}

#Accommodation .icon-arrow-collapse {
  width: 1.83vw;
  height: 1.08vw;
  mask-size: 1.83vw;
  -webkit-mask-size: 1.83vw;
}

#Accommodation .Collapse .content {
  border-radius: 10px;
  padding: 2.78vw .83vw 1.88vw 1.39vw;
  font-size: 1.25vw;
}

#Accommodation .Collapse .content ul {
  list-style: none;
}

@media screen and (max-width: 376px) {
  #Accommodation {
    display: flex;
    flex-direction: column;
  }

  #Accommodation .Slideshow {
    margin-top: 27px;
    width: 100%;
    height: 255px;
  }

  #Accommodation .Slideshow img {
    border-radius: 10px;
  }

  #Accommodation .information {
    grid-template-rows: repeat(4, auto);
    gap: 0;
    margin-top: 15px;
  }

  #Accommodation .information .title {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    font-size: 18px;
  }
  
  #Accommodation .information .location {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    font-size: 14px;
  }
  
  #Accommodation .information .tags {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    margin-top: 10px;
    font-size: 10px;
  }
  
  #Accommodation .information .tag {
    border-radius: 5px;
    padding: 2px 30px;
  }

  #Accommodation .information .host {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    margin-top: 7.84px;
  }
  
  #Accommodation .information .hostname {
    margin-right: 10.5px;
    font-size: 12px;
  }
  
  #Accommodation .information .host .profile {
    border-radius: 50%;
    width: 32px;
    height: 32px;
  }
  
  #Accommodation .information .rating {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    margin-top: 15.5px;
  }
  
  #Accommodation .information .rating i {
    margin-left: 5px;
  }

  #Accommodation .icon-star {
    width: 15px;
    height: 15px;
    mask-size: 15px;
    -webkit-mask-size: 15px;
  }

  #Accommodation .Collapse {
    margin-top: 16px;
    margin-bottom: 20.07px;
  }
  
  #Accommodation .Collapse .title {
    border-radius: 5px;
    padding: 5.45px 10.24px 5.45px 11.51px;
  }
  
  #Accommodation .Collapse .title h2 {
    font-size: 13px;
  }
  
  #Accommodation .icon-arrow-collapse {
    width: 15.2px;
    height: 8.96px;
    mask-size: 15.2px;
    -webkit-mask-size: 15.2px;
  }
  
  #Accommodation .Collapse .content {
    border-radius: 5px;
    padding: 27.27px 6.91px 0 11.51px;
  }
  
  #Accommodation .Collapse .content ul {
    font-size: 12px;
  }
}