@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #ff6060;
  line-height: 142.6%;
}

body {
  overflow: overlay;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

#Header, #Main {
  margin: 0 100px;
}

img {
  object-fit: cover;
}

@media screen and (max-width: 376px) {
  #Header, #Main {
    margin: 0 20px;
  }
}