.banner {
  margin-top: 3.06vw;
  border-radius: 25px;
  height: 15.49vw;
}

.banner .layer {
  border-radius: 25px;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, .3);
}

@media screen and (max-width: 376px) {
  .banner {
    border-radius: 10px;
  }
  
  .banner .layer {
    border-radius: 10px;
  }
}