.Collapse {
  position: relative;
}

.Collapse .title {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6060;
}

.Collapse .title h2 {
  color: #fff;
  font-weight: 500;
}

.Collapse .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Collapse .content {
  position: relative;
  top: -10px;
  background-color: #f7f7f7;
  /* transition: .5s; */
}


.Collapse .content.collapse {
  display: none;
}

.Collapse .content.expand {
  display: block;
}