.Collapse {
  position: relative;
  margin-top: 31px;
}

.Collapse .title {
  position: relative;
  z-index: 100;
  border-radius: 5px;
  background-color: #ff6060;
}

.Collapse .title h2 {
  color: #fff;
  font-weight: 500;
}

.Collapse .content {
  position: relative;
  top: -10px;
  border-radius: 5px;
  background-color: #f7f7f7;
}