#Footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 14.51vw;
  background-color: #000;
}

#Footer .wrapper {
  text-align: center;
}

#Footer .icon-logo {
  margin-top: 4.58vw;
}

#Footer p {
  margin-top: 1.98vw;
  font-size: 1.67vw;
  color: #fff;
}

.icon-logo.white {
  width: 8.47vw;
  height: 2.74vw;
  mask-size: 8.47vw;
  -webkit-mask-size: 8.47vw;
  background-color: #fff;
}

@media screen and (max-width: 376px) {
  #Footer .icon-logo {
    margin-top: 62px;
  }

  #Footer p {
    font-size: 12px;
  }
}