#Footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 209px;
  background-color: #000;
}

#Footer .wrapper {
  text-align: center;
}

#Footer .icon-logo {
  margin-top: 66px;
}

#Footer p {
  padding-top: 28.56px;
  font-size: 24px;
  color: #fff;
}

.icon-logo.white {
  width: 122px;
  height: 39.44px;
  mask-size: 122px;
  -webkit-mask-size: 122px;
  background-color: #fff;
}

@media screen and (max-width: 376px) {
  #Footer .icon-logo {
    margin-top: 62px;
  }

  #Footer p {
    font-size: 12px;
  }
}