#Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.78vw;
}

#Header ul {
  display: flex;
  list-style: none;
}

#Header li {
  padding-left: 3.96vw;
}

#Header .navlink {
  color: #ff6060;
  font-size: 1.67vw;
  text-decoration: none;
}

#Header .isActive {
  text-decoration: underline;
}

.icon-logo.red {
  width: 14.61vw;
  height: 4.72vw;
  mask-size: 14.61vw;
  -webkit-mask-size: 14.61vw;
  background-color: #ff6060;
}

@media screen and (max-width: 376px) {
  #Header {
    padding-top: 20px;
  }

  #Header li {
    padding-left: 10px;
  }

  #Header .navlink {
    font-size: 12px;
    text-transform: uppercase;
  }

  .icon-logo.red {
    width: 145px;
    height: 47px;
    mask-size: 145px;
    -webkit-mask-size: 145px;
  }
}