#Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

#Header ul {
  display: flex;
  list-style: none;
}

#Header li {
  padding-left: 57px;
}

#Header .navlink {
  color: #ff6060;
  font-size: 24px;
  line-height: 142.6%;
  text-decoration: none;
}

#Header .isActive {
  text-decoration: underline;
}