#Home .banner {
  margin-top: 4.38vw;
  font-size: 3.33vw;
  background: url("../assets/images/background_home.jpg") center no-repeat;
  background-size: 100% auto;
  mix-blend-mode: darken;
}

#Home .layer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#Home .layer p {
  color: #fff;
}

#Home .accommodations {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4.17vw;
  row-gap: 3.47vw;
  margin: 2.99vw 0 11.04vw;
  border-radius: 25px;
  padding: 3.89vw 3.47vw;
  background-color: #f6f6f6;
}

@media screen and (max-width: 376px) {
  #Home .banner {
    margin-top: 16px;
    height: 111px;
    background-size: cover;
    font-size: 24px;
    line-height: 100%;
  }

  #Home .layer {
    justify-content: flex-start;
    padding-left: 16px;
  }

  #Home .layer p {
    width: 217px;
  }

  #Home .accommodations {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    margin: 22px 0 159px;
    padding: 0;
    background-color: #fff;
  }
}