#NotFound {
  padding-top: 11.74vw;
  text-align: center;
}

#NotFound .errorCode {
  font-weight: 700;
  font-size: 20vw;
}

#NotFound .errorMsg {
  padding-top: 4.58vw;
  font-weight: 500;
  font-size: 2.5vw;
}

#NotFound a {
  display: inline-block;
  padding: 12.64vw 0 11.04vw;
  font-weight: 500;
  font-size: 1.25vw;
}

@media screen and (max-width: 376px) {
  #NotFound {
    padding-top: 195px;
  }

  #NotFound .errorCode {
    font-size: 96px;
  }

  #NotFound .errorMsg {
    padding-top: 11px;
    font-size: 18px;
  }

  #NotFound a {
    padding: 133px 0 235px;
    font-size: 14px;
  }
}