.banner {
  position: relative;
  border-radius: get-vw($desktop-context, 25px);
  height: get-vw($desktop-context, 223px);
  mix-blend-mode: darken;

  &::before {
    position: absolute;
    border-radius: get-vw($desktop-context, 25px);
    width: 100%;
    height: 100%;
    background-color: #000;
    content: '';
    opacity: .3;
  }

  & h2 {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: get-vw($desktop-context, 48px);
    font-weight: 500;
  }
}


@media screen and (max-width: 768px) {
  .banner {
    border-radius: get-vw($mobile-context, 10px);

    &::before {
      border-radius: get-vw($mobile-context, 10px);
    }

    & h2 {
      justify-content: flex-start;
      padding: get-vw($mobile-context, 32px) get-vw($mobile-context, 102px) get-vw($mobile-context, 32px) get-vw($mobile-context, 16px);
      font-size: get-vw($mobile-context, 24px);
      line-height: 100%;
    }
  }
}
