.Slideshow {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  background-color: #e3e3e3;
}

.Slideshow .slide {
  position: absolute;
  z-index: 100;
  display: none;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.Slideshow .slide.active {
  display: flex;
}

.Slideshow .slide .numberText {
  position: absolute;
  bottom: 0;
  margin-bottom: get-vw($desktop-context, 24.92px);
  color: #fff;
  font-size: get-vw($desktop-context, 18px);
}

.Slideshow .arrow {
  position: relative;
  z-index: 101;
  cursor: pointer;
}

.Slideshow .arrow i {
  width: get-vw($desktop-context, 46.68px);
  height: get-vw($desktop-context, 79.2px);
  mask-size: get-vw($desktop-context, 46.68px);
  -webkit-mask-size: get-vw($desktop-context, 46.68px);
  background-color: #fff;
}

.Slideshow .previous {
  margin-left: get-vw($desktop-context, 23.36px);
}

.Slideshow .next {
  margin-right: get-vw($desktop-context, 23.36px);
}

@media screen and (max-width: 768px) {
  .Slideshow {
    border-radius: 10px;
  }

  .Slideshow .slide .numberText {
    display: none;
  }

  .Slideshow .arrow i {
    width: get-vw($mobile-context, 11.67px);
    height: get-vw($mobile-context, 19.8px);
    mask-size: get-vw($mobile-context, 11.67px);
    -webkit-mask-size: get-vw($mobile-context, 11.67px);
  }

  .Slideshow .previous {
    margin-left: get-vw($mobile-context, 5.84px);
  }
  
  .Slideshow .next {
    margin-right: get-vw($mobile-context, 5.84px);
  }
}